<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <style>
        body {
            background-color: #222;
            color: #fff;
            font-family: 'Helvetica Neue', sans-serif;
            font-size: 16px;
            line-height: 1.5;
            text-align: center;
        }

        h1 {
            font-size: 8em;
            margin-top: 3rem;
        }

        p {
            font-size: 2em;
            margin-bottom: 3rem;
        }

        a {
            color: #fff;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>404</h1>
    <p>Uh-oh! Looks like you took a wrong turn.</p>
    <p>The page you are looking for doesn't exist (or maybe it never did).<br>Don't worry, we've got some options for you:</p>
    <ul>
        <li>Double-check the URL for typos or spelling errors.</li>

        <li>Use the search bar to find what you're looking for.</li>
    </ul>
</body>
</html>
